other/CadastroCliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
	<xs:element name="CadastroCliente">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="Cliente" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CodigoCliente" 	type="xs:integer"/>
							<xs:element name="Nome" 		 	type="xs:string"/>
							<xs:element name="CPF" 			 	type="xs:string"/>
							<xs:element name="CodigoEndereco" 	type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
</xs:schema> 