other/CadastroPedido.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
	<xs:element name="CadastroPedido">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="Pedido" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CodigoPedido" 	type="xs:integer"/>
							<xs:element name="ValorTotal" 		type="xs:decimal"/> 
							<xs:element name="Situacao" 		type="xs:string"/>
							<xs:element name="DataPedido" 		type="xs:date"/>
							<xs:element name="CodigoEndereco" 	type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 