other/VinculoPedido.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VinculoPedido">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="ClientePedido" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CodigoPedido" 	type="xs:integer"/>
							<xs:element name="CodigoCliente" 	type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 